@* Author: Christoffer *@
@page "/"
@page "/home" // Author: Smilla (For NavMenu styling purposes)
@using AlphaHemClient.Services
@inject ListingService ListingService
@inject MunicipalityService MunicipalityService
@using AlphaHemClient.Model.ViewModel
@using AlphaHemClient.Model.DTO
@using AlphaHemClient.Components
@using System.Text.Json;

<PageTitle>Bostäder</PageTitle>


<div class="d-flex justify-content-center gap-3 my-4">
    <MunicipalitySelector 
    Municipalities="@municipalities" 
    OnMunicipalitySelected="OnMunicipalityChanged" />

    <CategorySelector
    OnCategorySelected="OnCategoryChanged" />

    <SortSelector
    SortOptions="@viewModel.SortOptions"    
    OnSortSelected="OnSortChanged" />
</div>

@if (viewModel.Listings != null && viewModel.Listings.Any())
{
            <ListingList Listings="viewModel.Listings" />
            @if (totalPages > 1)
            {
                <Pagination CurrentPage="@currentPage"
                TotalPages="@totalPages"
                TotalCount="@viewModel.TotalCount"
                OnPageSelected="OnPageChanged" />
            }
}
else
{
    <p>Inga bostäder till salu.</p>
}


