@* Author: Christoffer *@
@page "/"
@page "/home" // Author: Smilla (For NavMenu styling purposes)
@using AlphaHemClient.Services
@using AlphaHemClient.Model.ViewModel
@using AlphaHemClient.Model.DTO
@using AlphaHemClient.Components
@using System.Text.Json;

<PageTitle>Bostäder</PageTitle>

<MunicipalitySelector 
Municipalities="@municipalities" 
OnMunicipalitySelected="OnMunicipalityChanged" />

<CategorySelector
OnCategorySelected="OnCategoryChanged" />

<SortSelector
SortOptions="@viewModel.SortOptions"    
OnSortSelected="OnSortChanged" />

@if (viewModel.Listings != null && viewModel.Listings.Any())
{
            <ListingList Listings="viewModel.Listings" />
            @if (totalPages > 1)
            {
                <Pagination CurrentPage="@currentPage"
                TotalPages="@totalPages"
                TotalCount="@viewModel.TotalCount"
                OnPageSelected="OnPageChanged" />
            }
}
else
{
    <p>Inga bostäder till salu.</p>
}


