@page "/realtor/{id:int}"
@using AlphaHemClient.Components
@using AlphaHemClient.Model.ViewModel

@* Author : Smilla *@
@*Co-Author: Dominika, Conny*@
@if (isLoading)
{
    <p class="text-center">Loading...</p>
}
else if (isError)
{
    <p class="text-danger text-center">Någonting gick fel. Vänligen försök igen.</p>
}
else if (realtorProfile == null)
{
    <p class="text-center">Ingen profil hittad.</p>
}
else
{
    <section id="about-me" class="about-me section">
        <div class="container section-title" data-aos="fade-up">
            <h2>Om mig</h2>
        </div>

        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row align-items-center gx-3">
                <div class="col-lg-5 col-md-5 position-relative" data-aos="fade-right" data-aos-delay="200">
                    <div class="about-image">                       
                            <RealtorImage ImageUrl="@realtorProfile.ProfilePicture" class="img-fluid rounded-4"/>                    
                    </div>
                </div>

                <div class="col-lg-7 col-md-7" data-aos="fade-left" data-aos-delay="300">
                    <div class="info-container shadow-sm p-4 rounded">
                        <div class="about-content">
                            <h2>@realtorProfile.FullName</h2>
                            <div class="personal-info">
                                <div class="row g-3">
                                    <div class="col-6">
                                        <div class="info-item">
                                            <i class="bi bi-person label-icon"></i>
                                            <span class="value">@realtorProfile.FullName</span>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="info-item">
                                            <i class="bi bi-telephone label-icon"></i>
                                            <span class="value">@realtorProfile.PhoneNumber</span>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="info-item">
                                            <i class="bi bi-envelope label-icon"></i>
                                            <span class="value">@realtorProfile.Email</span>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="info-item">
                                            <i class="bi bi-house-door label-icon"></i>
                                            <span class="value">@realtorProfile.AgencyName</span>
                                        </div>
                                    </div>
                                </div>
                                @*Kolla om användare är inloggad som denna mäklare.
                                    Visa isf knappen nedan.
                                *@
                                <div class="row mt-2">
                                    <div class="col-12 col-sm-6 col-lg-4">
                                        <button @onclick="EditProfile" class="btn btn-primary">Redigera profil</button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                @* Visa endast om en inloggad mäklare visar sin egen profil *@
                <MyListings RealtorId="realtorProfile.Id"></MyListings>
            </div>
        </div>
    </section>
}
