@page "/realtors"
@using AlphaHemAPI.Data.DTO
@using AlphaHemClient.Components
@using AlphaHemClient.Services
@inject HttpClient Http
@inject ListingService ListingService

<h3>Mäklare</h3>
@* Detta är bara test-kod för att testa så att man får API kopplingen att fungera, bör raderas senare innan inlämning.*@
@if (realtors == null)
{
    <p>Laddar...</p>
}
else
{
    <ul class="list-group">
        @foreach (var realtor in realtors)
        {
            <li class="list-group-item d-flex align-items-center">
                <img src="@realtor.ProfilePicture" alt="No Img" class="rounded-circle" style="width: 50px; height: 50px; object-fit: cover; margin-right: 15px;" />
                <div>
                    <strong>@realtor.FirstName @realtor.LastName</strong>
                    <br />
                    <span>@realtor.PhoneNumber</span>
					<br />
					<span>@realtor.Email</span>
					<br />
					<span>@realtor.AgencyName</span>
                </div>
            </li>
        }
    </ul>
}

<MyListings RealtorId="4"></MyListings>