@using Microsoft.AspNetCore.Components.Routing 
@inject IJSRuntime JSRuntime 

<Router AppAssembly="@typeof(App).Assembly" OnNavigateAsync="HandleNavigation"> @*Author: Christoffer*@
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@*Author: Christoffer*@
@code {
    private async Task HandleNavigation(NavigationContext args)
    {
        await Task.Yield();
        await JSRuntime.InvokeVoidAsync("scrollToTop");
    }
}