@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing 

@inject IJSRuntime JSRuntime 

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                @if(context.User.Identity?.IsAuthenticated == false)
                {
						navigationManager.NavigateTo("/login");
                }
                else
                {
                    <div class="alert alert-warning">
                        <p>Du har inte behörighet att nå denna resurs.</p>
                    </div>
                }
                </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
            <PageTitle>Tyvärr</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Tyvärr, det finns inget på denna adress!.</p>
        </LayoutView>
    </NotFound>
</Router>
</CascadingAuthenticationState>

@*Author: Christoffer*@
@code {
	[Inject] private NavigationManager navigationManager { get; set; }
    private async Task HandleNavigation(NavigationContext args)
    {
        await Task.Yield();
        await JSRuntime.InvokeVoidAsync("scrollToTop");
    }
}