@*    //Author: Mattias*@

<EditForm Model="RegisterModel" OnValidSubmit="HandleRegister">
    <DataAnnotationValidator />
    <ValidationSummary />

    <div class="row g-3">
        <div class="col-sm-6">
            <div class="mb-3">
                <label for="reg-firstname" class="form-label">Förnamn</label>
                <InputText id="reg-firstname" class="form-control" @bind-Value="RegisterModel.FirstName" required/>
                <ValidationMessage For="@(() => RegisterModel.FirstName)" />
            </div>
        </div>

        <div class="col-sm-6">
            <div class="mb-3">
                <label for="reg-lastname" class="form-label">Efternamn</label>
                <InputText id="reg-lastname" class="form-control" @bind-Value="RegisterModel.LastName" required />
                <ValidationMessage For="@(() => RegisterModel.LastName)" />
            </div>
        </div>

        <div class="col-12">
            <div class="mb-3">
                <label for="reg-email" class="form-label">E-post</label>
                <InputText id="reg-email" type="email" class="form-control" @bind-Value="RegisterModel.Email" required />
                <ValidationMessage For="@(() => RegisterModel.Email)" />
            </div>
        </div>

        <div class="col-12">
            <div class="mb-3">
                <label for="reg-password" class="form-label">Lösenord</label>
                <InputText id="reg-password" type="password" class="form-control" @bind-Value="RegisterModel.Password" required />
                <ValidationMessage For="@(() => RegisterModel.Password)" />
            </div>
        </div>
@* Ska vi ha confirm-password?
         <div class="col-12">
            <div class="mb-3">
                <label for="reg-confirm-password" class="form-label">Bekräfta lösenord</label>
                <InputText id="reg-confirm-password" type="password" class="form-control" @bind-Value="RegisterModel.ConfirmPassword" />
                <ValidationMessage For="@(() => RegisterModel.ConfirmPassword)" />
            </div>
        </div> *@

        <div class="col-12">
            <div class="mb-3">
                <label for="agency" class="form-label">Välj en mäklarbyrå</label>
                <InputSelect id="agency" class="form-control" @bind-Value="RegisterModel.AgencyId" required>
                    <option value="">Välj en mäklarbyrå</option>
                    @foreach (var agency in Agencies)
                    {
                        <option value="@agency.Id">@agency.Name</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => RegisterModel.AgencyId)" />
            </div>
        </div>

        <div class="col-12">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-lg">Skapa konto</button>
            </div>
        </div>
    </div>
</EditForm>
